html, body { height: 100%; width: 100%; }

a {
    text-decoration: none;
}

main {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    'tytle'
    'applist';
    grid-auto-rows: 20% 80%;
}

#maintitle {
    grid-area: tytle;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    grid-area: applist;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type:none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
}

#subtitle {
    display: flex;
    justify-content: center;
}

.square {
    width: 80px;
    height: 80px;
    background: black;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
}

img {
    width: 80px;
    height: 80px;
    border: solid 1px #777777;
    border-radius: 10px;
    margin: 20px 20px 0px 20px;
}